*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background: #fff;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  .search__item{
    width: 900px;
  }
}

.loaderspin{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.css-a5rdam-MuiGrid-root{
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .css-mhc70k-MuiGrid-root{
    justify-content: center;
    align-items: center;
    text-align: center;
  }  
}