*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #fff;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  .search__item{
    width: 900px;
  }
}